@darkblue: #3486db;
@blue: #3498db;
@darkgrey: #6b6b6b;
@mediumgrey: #696969;
@lightgrey: #DDD;
@white: white;
@border-color: #CCCCCC;
@base-font-size: 16px;

a {
  color: @darkblue;
}

.header {
	display: flex;
	flex-flow: column;
	align-items: center;
  	border-bottom: 1px solid @border-color;
  	.login-form__container div{
	  	display: flex;
	    flex-flow: row wrap;
	    justify-content: flex-end;
	    margin-bottom: 6px;
  	}
  	.login-form__fieldset {
  		color: @mediumgrey;
		border:1px solid @blue;
	}
}

.main-menu {
	display: inline-flex;
	ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	li {
    		display: inline;
    		margin: 5px 2px;
    	}
	}
}

body {
	h1,h2,h3,h4 {
		color: @darkgrey;
	}
	input[type=submit] {
		background-color: @blue;
	    border: none;
	    color: @white;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    padding: 8px 16px;
	    cursor: pointer;
	    &:hover {
	      background-color: @darkblue;
	    }
	}
	font-size: @base-font-size;
    font-family: 'Inconsolata','Helvetica', 'Arial', 'Sans-Serif', 'serif';
	table {
	    border-collapse: collapse;
	    width: 100%;
	}
	td, th {
	    border: 1px solid @lightgrey;
	    text-align: left;
	    padding: 8px;
	}
	tr:nth-child(even) {
	    background-color: @lightgrey;
	}
	#error-container{
		display: flex;
		flex-flow: column;
		align-items: center;
		#error-form {
			div {
				display: flex;
			    flex-flow: row wrap;
			    justify-content: flex-end;
			    margin-bottom: 6px;
			    select {
			    	min-width: 173px;
			    }
			}
		}
	}
}