a {
  color: #3486db;
}
.header {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.header .login-form__container div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-bottom: 6px;
}
.header .login-form__fieldset {
  font-size: 14px;
  color: #696969;
  border: 1px solid #3498db;
}
.main-menu {
  display: inline-flex;
}
.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-menu ul li {
  display: inline;
  margin: 5px 2px;
}
body {
  width: 90%;
  margin: auto;
  font-size: 16px;
  font-family: 'Inconsolata', 'Helvetica', 'Arial', 'Sans-Serif', 'serif';
}
body h1,
body h2,
body h3,
body h4 {
  color: #6b6b6b;
}
body .success {
  color: #3498db;
  font-size: 12px;
}
body .error {
  color: #ff6666;
  font-size: 12px;
}
body .align-v {
  display: inline-flex;
  align-items: center;
}
body .align-v .sort-img {
  width: 15px;
  height: 15px;
  padding: 0 5px;
  cursor: pointer;
}
body input[type=submit] {
  background-color: #3498db;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}
body input[type=submit]:hover {
  background-color: #3486db;
}
body table {
  border-collapse: collapse;
  width: 100%;
}
body td,
body th {
  border: 1px solid #DDD;
  text-align: left;
  padding: 8px;
}
body tr:nth-child(even) {
  background-color: #DDD;
}
body .edit-button {
  padding: 0;
  border: none;
  background: none;
  font-size: 12px;
  font-style: italic;
  color: #696969;
  cursor: pointer;
}
body .edit-button:hover {
  color: #000;
}
body #error-container,
body #user-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
body #error-container #error-form div,
body #user-container #error-form div,
body #error-container #user-form div,
body #user-container #user-form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-bottom: 6px;
}
body #error-container #error-form div select,
body #user-container #error-form div select,
body #error-container #user-form div select,
body #user-container #user-form div select,
body #error-container #error-form div textarea,
body #user-container #error-form div textarea,
body #error-container #user-form div textarea,
body #user-container #user-form div textarea {
  min-width: 173px;
}
