@darkblue: #00008B;
@border-color: #CCCCCC; //gray
@base-font-size: 16px;

body {
    font-size: @base-font-size;
}

header {
  border-bottom: 1px solid @border-color;
}

a {
  color: @darkblue;
}

#menu {
	display: inline-flex;
	ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	width: 60px;
	}
}