body {
  font-size: 16px;
}
header {
  border-bottom: 1px solid #CCCCCC;
}
a {
  color: #00008B;
}
#menu {
  display: inline-flex;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}
